version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: DockerfilePepe
    #environment:

    ports:
      - "9300:8000"
    restart: always
    depends_on:
      db:
        condition: service_healthy
  
  
  db:
    build:
      context: .
      dockerfile: DockerfilePostgres
    environment:
      POSTGRES_USER: usuario
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: miapp
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U usuario -d miapp"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  db_data: {}